.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#square{
   width:33px;
  height: 33px;
  border: 1px solid white;
}#game_end{
  padding: 0px;
  margin: 0px;
}
.game{
  display:flex;justify-content: center;align-items: center;flex-direction: column;
}
ul{
   list-style-type: none;
}
.btn-sharp{
  border-radius: 0px;
}
.badge{
  font-size: xx-large;
}
#heading{color: #0952e4;}
#grid_op{
  color:#0952e4;
}